<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A3: Net Art Piece</title>
    <link rel="stylesheet" href="/stylesheets/soon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color:black;">
    <div class="jumbotron hero-section" style="background-image: url(/images/a3/bg-invert2.png);">
        <div class="text-center">
            <h1 class="display-5 fw-bold francois">Assignment 3: Net Art Design</h1>
            
            <div class="row">
                <div class="col-md-6"><!-- Link to assignment -->
                    <a href="https://people.ucalgary.ca/~jparker/art321/assignments/assignment2/assignment2.html"><p class="lead mb-4">Link to the assignment</p></a>
                </div>
                <div class="col-md-6">
                    <p class="lead mb-4">Adobe Photoshop</p>
                </div>
            </div> 
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2 class="m-5 fw-bold francois text-red">Evil Memes</h2>
        </div>
        <div class="row double-spaced">
            <p class="m-5 text-white"> Internet memes has a been very popular type of net art ever since the early days of 4chan and reddit. Once memes 
                became more reknown and people started becoming more involved in social media, it became more popular where some types
                have evolved, some had died out but never forgotten and some are still relevant till today. <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Example</a>
                <br><br>
                However evil memes have are fairly new, inspired and possibly evolved from the humor of Deep Fried Memes 
                but more straightforward and less abstract. I present to you, <b>Evil Memes</b>
                <br><br>
                You may skip this part if you understand how evil memes work but I would like to talk about it a little. 
                Evil Memes are not really evil or true evil, the title might be a little misleading. In reality, the way to understand Evil
                memes is to be aware of the context the picture entails. For example, let us take this meme for example.
                
            </p>
        </div>
        <div class="row">
            <img class="centerIMG" src="/images/a3/lp.png" alt="elp">
        </div>
        <div class="row">
            <p class="m-5 text-white"> The colors in the image above has been inverted to portray the evil aspect of the context. Here the context speaks about
                the popular Linkin Park track <a href="https://www.youtube.com/watch?v=eVTXPUF4Oz4">In The End</a>.  The original lyric pertaining to the context is "In the end, it 
                doesn't even matter". So, an evil version of Linkin Park would've actually said "In the end, it does matter."
                <br><br>
                To sum up, the evil meme consists of an inverted or highly saturated image of the context where the funny
                aspect of the meme is the opposite of the context.  
                <br><br>
                <a href="https://pinetools.com/invert-image-colors">This website</a> can be used to invert image colors 
                but the tool I have used for memes I have created was Adobe Photoshop. 
                <br><br>
                Below are some examples of evil memes, will be adding more to this page in the future. 
            </p>
        </div>
        <div class="memes row">
            <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=bT9giQ2oRRA"><img src="/images/a3/uncleben.png" alt=""></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=QAo_Ycocl1E"><img src="/images/a3/toto.JPG" alt=""></a>
            </div>
            <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=Q7DtJJSVPsk"><img src="/images/a3/gotye.JPG" alt=""></a> 
            </div>
            <div class="w-100 mb-md-5"></div>
            <div class="col-md-6">
                <a href="https://www.youtube.com/watch?v=w1PRiHEHJd8"><img src="/images/a3/dababy.JPG" alt=""></a>
            </div>
            <div class="col-md-6">
                <a href="https://www.youtube.com/watch?v=RMdIx228dBw"><img src="/images/a3/groot.png" alt=""></a>
            </div>
        </div>
    </div>
</body>
</html>