<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A3: Net Art Piece</title>
    <link rel="stylesheet" href="/stylesheets/soon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color:black;">
    <div class="jumbotron hero-section" style="background-image: url(/images/a4/screen.png); width: 100%; height: 100vh;">
        <div class="text-center">
            <h1 class="display-5 fw-bold francois text-white">Assignment 4: Animation</h1>
            
            <div class="row">
                <div class="col-md-6"><!-- Link to assignment -->
                    <a href="https://people.ucalgary.ca/~jparker/art321/assignments/assignment4/assignment4.html"><p class="lead mb-4">Link to the assignment</p></a>
                </div>
                <div class="col-md-6">
                    <p class="lead mb-4 text-white ">Adobe Illustrator <br> Adobe Animate</p>
                </div>
            </div> 
        </div>
    </div>

<div class="container text-white mt-5">
    <h1>Introduction</h1>
    <p>For this assignment, I have created two pieces of animated images. Animation has been a favorite hobby of mine and as I first started
        early 2017, I started off with Adobe Flash but it was discontinued not so long ago and due to university and my drive to learn about
        programming, I drifted away from creating animations. This assignment allowed me to reconnect with my oldself as I really loved working 
        with animation softwares and transitioning from Adobe Flash to Adobe Animate wasn't a rough step up, I enjoyed the challenge and got 
        used to it rather quickly and learned about newer features at the same time. 
        <br>
        My two animated art works are as follows, one is of an anime character, Monkey D. Luffy and the other art work is of a water dispenser
        filling up an empty glass with water. 
    </p>
    <h2><b>1. Monkey D. Luffy Animation</b></h2>
    <p>Monkey D. Luffy is the protagonist of the most popular and longest running anime "One Piece" and this GIF refers to his love for meat.</p>
    <img src="/images/a4/luffy.gif" alt="">
    <!-- Frames -->
    <div class="col-md-12 mt-5">
        <h3>Frames</h3>
        <p>Animated features included hair movement, color changing background and the dispersing smoke from his eyes.
            I choose this style of art as it resembles some animated NFTs that have been sold in several marketplaces earlier this year. 
        </p>
        <div class="frames row">
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0001.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0020.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0040.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0060.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0080.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0100.jpg" alt="">
            </div>
            <div class="w-100 mb-md-5"></div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0120.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0140.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0160.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0180.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/luffy-frames/luffy-niku-animate0200.jpg" alt="">
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    
    <h2 class="mt-5"><b>2. Automatic Dispenser </b> </h2>
    <p> This gif consists of an automatic water dispenser found around the UofC campus that saves water by pouring the optimum amount almost everytime.
        Sometimes it may fail to do so and overpour and thats what's happening here. 
        
    </p>
    <img src="/images/a4/dispenser.gif" alt="">
    <!-- Frames -->
    <div class="col-md-12 mt-5">
        <h3>Frames</h3>
        <p>Animated features include water filling animation, glass filling animation and overflowing. </p>
        <div class="frames row">
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0065.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0070.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0075.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0080.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0085.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0090.jpg" alt="">
            </div>
            <div class="w-100 mb-md-5"></div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0095.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0100.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0105.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0110.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0115.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0120.jpg" alt="">
            </div>
            <div class="w-100 mb-md-5"></div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0125.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0130.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0135.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0140.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0145.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="images/a4/water-frames/dispenser0150.jpg" alt="">
            </div>
        </div>
    </div>



</body>
</html>
