<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A8: Interaction</title>
    <link rel="stylesheet" href="/stylesheets/soon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color:black;">
    <div class="jumbotron hero-section" style="background-image: url(/images/a4/screen.png); width: 100%; height: 100vh;">
        <div class="text-center">
            <h1 class="display-5 fw-bold francois text-white">Assignment 8: Interaction</h1>
            
            <div class="row">
                <div class="col-md-6"><!-- Link to assignment -->
                    <a href="https://people.ucalgary.ca/~jparker/art321/assignments/assignment4/assignment4.html"><p class="lead mb-4">Link to the assignment</p></a>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div> 

        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>Everyday the Same Dream : A Narrative</h1>
            <p>I have played through this game and below are the answers to the questions according to the assignment.</p>
        </div>

        <div class="row">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
</body>
</html>