<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A8: Interaction</title>
    <link rel="stylesheet" href="/stylesheets/soon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="color:#2f2f2f;">
    <div class="jumbotron hero-section" style="background-image: url(/images/a8/edsd.png); width: 100vw; height: 100vh;">
        <div class="text-center">
            <h1 class="display-5 fw-bold francois text-white">Assignment 8: Interaction</h1>
            
            <div class="row">
                <div class="col-md-6"><!-- Link to assignment -->
                    <a href="https://people.ucalgary.ca/~jparker/art321/assignments/assignment8a.htm"><p class="lead mb-4">Link to the assignment</p></a>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div> 

        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>Everyday the Same Dream : A Narrative</h1>
            <p>I have played through this game and below are the answers to the questions according to the assignment.</p>
        </div>
        <p> 1. How does the allowed interaction keep the narrative on track? How does it permit variations and branches?</p>
        <p>
            <b>Ans.</b> The character can move left-right and interact with people/objects with space bar. According to the game's name "Everyday the Same Dream",
            the same dream keeps occuring after the completion of one task, in total there are five and whenever one is completed, the 
            elevator lady will countdown the task when interacted with in the elevator. The tasks vary in content and branches to different
            scenarios but the interaction remains the same for all tasks except for catching the leaf. 
        </p>
        <p> 2. Describe the nature of the graphical quality and how it is relevant to the story.</p>
        <p><b>Ans.</b> For a narrative driven game released in 2009, the graphical quality is very nice. Compared to the story, it seems dark and 
            gloomy as it should be as the game interaction depicts the dark truth about a corporate 9-5 job of working one's life away.
            It is quite relevant and does play a role in when interacting with anything outside of work and the meaning of life isn't to 
            focus on work, but to enjoy and live life to the fullest as even small interactions like that of catching a leaf or petting a cow.
        </p>
        <p> 3. Describe the nature of the interaction and how it influences choices and how the player feels. </p>
        <p><b>Ans.</b> The nature of the interactions in this game have both dark outcomes and peaceful outcomes and the message it sends that, 
            in life, there's both and there should be a balance regardless of the order of which it is completed in, we always come to the 
            endgoal at one point and inspire people along the way. This game may reflect differently on different players, but for me I felt
            trapped in the endless dream to go to work late everytime amidst the traffic. 
        </p>
        
    </div>
</body>
</html>