<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Kalam:wght@300&display=swap" rel="stylesheet">  
    <link rel="shortcut icon" href="images/club.ico" type="image/x-icon">
    <script src="/scripts/assignment.js"></script>

    <title>Riyad Hossain</title>
    <!-- Place a clubs icons -->
</head>
<body>
    

    <!--Hero Section-->
    <div class="jumbotron hero-section" style="background-image: url(/images/bg.jpg);">
        <div class="text-center">
            <h1 class="display-5 fw-bold francois">Riyad Hossain</h1>
            <p class="lead mb-4">Welcome to my ART321 course home page! I will be posting all my artworks and assignments here.</p> 
            
             
             
        </div>
    </div>

    <div class="container assignments">
        <div class="text-center">
            <h1 class="display-5 fw-bold m-5 francois">Assignments</h1>
        </div>
        <div class="row m-4 assignment-content-1"></div>
        <div class="row m-4 assignment-content-2"></div>
        <div class="row m-4 assignment-content-3"></div>

    </div>


    <div class="container art">
        <div class="text-center">
            <a href="https://www.instagram.com/miaomiaocreations/"><h1 class="display-5 fw-bold m-5 francois">Miaomiao</h1></a>
            <p class="lead mb-4">MiaoMiao is a concept artist, illustrator and animator. Her creations mostly consist of cute, baby versions of many characters from various
            fictional and historical context. She promotes her art mostly on social media platforms like that of Instagram and Twitter,  
            Her most popular account <a href="" class="igID"><b>miaowcomics</b></a> has more than 30,000 followers on Instagram due to her increasingly popular Genshin Impact character designs. 
            </p> 

            <p class="lead mb-4">Apart from character designs, she also makes comic strips, animal, anime art and often crossovers. </p>
            <a href="https://www.instagram.com/p/B9bISbMjLDw/"><img src="images/monalisa.PNG" alt=""></a>
            <span class="mb-lg-5 caption">Baby Mona Lisa</span>
            
            <a href="https://www.instagram.com/miaowcomics/?hl=en"><img src="images/comic.PNG" class="mt-5" alt=""></a>
            <span class="mb-lg-5 caption">Christmas Comic Strip: A comic skit about the effects of the pandemic. (satire)</span>

            <a href="https://twitter.com/miaowcomics/status/1385208930159185923"><img src="images/chongyun.jpg" class="mt-5" alt=""></a>
            <span class="mb-lg-5 caption">Smol Chongyun: A baby version of a Genshin Impact support/sub DPS character named Chongyun. </span>
            
            
        </div>
    </div>


    <footer class="page-footer font-small blue">

        
        <div class="footer text-center py-3">© 2021 Riyad Hossain
          <a href="rhossain.herokuapp.com"> rhossain.herokuapp.com</a>
        </div>
        
      
    </footer>


</body>
<script>
    hw_gen('A1: Homepage', 'The first assignment is to create a course homepage where all the assignments are to be uploaded to in separate anchor tags. ', 'HTML/CSS/JS/Bootstrap', 'images/bg1.jpg', '/', '1', true);
    hw_gen('A2: Modify Images', 'Modify six different images', 'TBA', 'images/soon.jpg', '/soon', '1', false)
    hw_gen('A3: Net Art Piece', '', 'TBA', 'images/soon.jpg', '/soon', '1', false)
    hw_gen('A4: Animation', '', 'TBA', 'images/soon.jpg', '/soon', '2', false)
    hw_gen('A5: Sound', '', 'TBA', 'images/soon.jpg', '/soon', '2', false)
    hw_gen('A6: Turtle Graphics' ,'', 'TBA', 'images/soon.jpg', '/a6', '2', false)
    hw_gen('A7: Video', '', 'TBA', 'images/soon.jpg', '/soon', '3', false)
    hw_gen('A8: Interaction', '', 'TBA', 'images/soon.jpg', '/soon', '3', false)
    hw_gen('A9: Second Life',  '', 'TBA', 'images/soon.jpg', '/soon', '3', false)
</script>
</html>