<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Kalam:wght@300&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/stylesheets/project.css">
    <script type="text/javascript" src="data.json"></script>
    
    
    
</head>
<body>
    <div class="jumbotron hero-section" style="background-image: url(/images/project/room6.png);">
        <div class="text-center">
            <h1 class="display-5 fw-bold m-5 francois text-center">Project: Expanding Johnny</h1>
            
            <div class="row">
                <div class="col-md-6">
                    <p class="lead mb-4">Adobe Illustrator/Adobe XD</p>
                </div>
            </div> 
        </div>
    </div>
    <div class="container">

        
        <div class="display-5 d-flex row start francois">
            <button onclick="" class="btn startbutton mt-auto"><img id="clickhere" src="images/project/portal.gif" alt="link broke lol"></button>
            
        </div>
        <!--
            <div class="row">
                <div class="card-transparent border border-dark rounded francois">
                    <div class="card-body">
                        <h4 class="card-title"><b>Character name</b></h4>
                        <p class="card-text">Dialogue</p>
                        <div class="button-group"></div>
                    </div>
                </div>
            </div>
        -->
        <div class="row">
        
        </div>
        
    </div>
    <div class="container">
        <h2 class="display-5 fw-bold m-5 francois text-center">Overview</h2>
        <p class="lead mb-4">
            Expanding Johnny is a prototype of a sci-fi narrative choice based video game based on his adventures. A little insight about Johnny
            is that he is a normal human being working 9-5 on weekdays, comes home to play video games and a portal opens along 
            with it came a man that looked just like him. 

            I chose this as my project in order to improve content and creative writing skills, being able to create depth and engagement for viewers 
            interested in the sci-fi field and try to think from outside the box. Here are some screens from the prototype.
        </p>
        <h2 class="display-5 fw-bold m-5 francois text-center">Tools Used</h2>
        <p>
            I used Adobe XD to create this prototype and used Adobe Illustrator to create the characters and backgrounds of each of the scene. 
        </p>
        
        <div class="memes row">
            <div class="col-md-4">
                <img src="/images/project/room.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="/images/project/room1.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="/images/project/room2.png" alt="">
            </div>
            <div class="w-100 mb-md-5"></div>
            <div class="col-md-6">
                <img src="/images/project/adobexd.PNG" alt="">
            </div>
            <div class="col-md-6">
               <img src="/images/project/room3.png" alt="">
            </div>
        </div>

    </div>
    
    
    
</body>

</html>