<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link rel="stylesheet" href="/stylesheets/soon.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color:black;">
    <div class="jumbotron hero-section" style="background-image: url(/images/a4/screen.png); width: 100%; height: 100vh;">
        <div class="text-center">
            <h1 class="display-5 fw-bold francois">Final Project: Road to the Multiverse</h1>
            
            <div class="row">
                <div class="col-md-6"><!-- Link to assignment -->
                    <a href="https://xd.adobe.com/view/563dbdc7-42c3-4865-8d0a-1d2a104e70f9-036e/"><p class="lead mb-4">Link to Project</p></a>
                </div>
                <div class="col-md-6">
                    <p class="lead mb-4 text-white ">Adobe Illustrator <br> Adobe XD</p>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>