.hero-section {
    height: 150vh;
    width: 100vw;
    background-size: cover;
    
}

.start {
    position: fixed;
    bottom: 15%;
    padding: 0;
    

}

.startbutton {
    background: none;

    border: none;
}
.startbutton img {
    width: 50%;
    height: 50%;
}

#clickhere {
    z-index:-10;
}

.startbutton:hover {
    transform: scale(0.75);
    transition: all .2s ease-in-out;
    
}

.memes img{
    width: 100%;
}



.francois {
    font-family: 'Francois One', sans-serif;
    
}

.card-block {
    background-color: rgba(245, 245, 245, 0.4);
    
}

.card-transparent {
    display: none;
    position: fixed;
    bottom: 10%;
    padding: 0;
    
}