.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}
.hero-section {
    height: 150vh;
    width: 100vw;
    background-size: cover;
    
}

.double-spaced {
    line-height: 1.9em;
}

.text-red {
    text-align: center;
    color: red;
}

.memes img{
    width: 100%;
}

.frames img {
    width: 100%;
}